In [ ]:
# INSTITUTO CARLOS III

In [10]:
# Lectura del conjunto de datos obtenido de la pagina del instituto carlos iii
# Recogidos desde el 01/01/2020 hasta el dia 25/03/2020
from pandas import read_csv
lectura = read_csv('casos_hosp_uci_def_sexo_edad_provres.csv', encoding='latin-1', sep = ',', index_col = 3, na_values = ['NaN', 'NaT'])

In [21]:
import pandas as pd
import numpy as np
df = pd.DataFrame(lectura)

In [12]:
df.head(5)

,provincia_iso,sexo,grupo_edad,num_casos,num_hosp,num_uci,num_def
fecha,,,,,,,
2020-01-01,A,H,0-9,0,0,0,0
2020-01-01,A,H,10-19,0,0,0,0
2020-01-01,A,H,20-29,0,0,0,0
2020-01-01,A,H,30-39,0,0,0,0
2020-01-01,A,H,40-49,0,0,0,0

In [28]:
# Vamos a seleccionar por ejemplo solamente los datos de la Region de Murcia (codigo iso = MU)
df_murcia = df[df['provincia_iso'] == 'MU']

In [30]:
df_murcia.head(5)

,provincia_iso,sexo,grupo_edad,num_casos,num_hosp,num_uci,num_def
fecha,,,,,,,
2020-01-01,MU,H,0-9,0,0,0,0
2020-01-01,MU,H,10-19,0,0,0,0
2020-01-01,MU,H,20-29,0,0,0,0
2020-01-01,MU,H,30-39,0,0,0,0
2020-01-01,MU,H,40-49,0,0,0,0